<a href="https://colab.research.google.com/github/Akshayus29/Assignments/blob/main/Data_aquisition_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Step 1: Load SpaceX Launch Data from API

In [69]:
import numpy as np
import pandas as pd
import sqlite3
import requests

In [70]:
url = "https://api.spacexdata.com/v4/launches"
data = requests.get(url).json()

In [71]:
launch_df=pd.DataFrame(data)
launch_df.head(10)

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,...,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,...,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a
1,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,...,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b
2,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,...,2008-08-03T03:34:00.000Z,1217734440,2008-08-03T15:34:00+12:00,hour,False,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",True,False,None,5eb87cdbffd86e000604b32c
3,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,...,2008-09-28T23:15:00.000Z,1222643700,2008-09-28T11:15:00+12:00,hour,False,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,False,None,5eb87cdbffd86e000604b32d
4,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,...,2009-07-13T03:35:00.000Z,1247456100,2009-07-13T15:35:00+12:00,hour,False,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,False,None,5eb87cdcffd86e000604b32e
5,"{'reused': None, 'recovery_attempt': None, 're...",{'patch': {'small': 'https://images2.imgbox.co...,2010-03-13T00:00:00.000Z,1.268438e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],None,...,2010-06-04T18:45:00.000Z,1275677100,2010-06-04T14:45:00-04:00,hour,False,"[{'core': '5e9e289ef359185f2b3b2628', 'flight'...",True,False,None,5eb87cddffd86e000604b32f
6,None,{'patch': {'small': 'https://images2.imgbox.co...,2010-12-04T00:00:00.000Z,1.291421e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],None,...,2010-12-08T15:43:00.000Z,1291822980,2010-12-08T11:43:00-04:00,hour,False,"[{'core': '5e9e289ef35918187c3b2629', 'flight'...",True,False,None,5eb87cdeffd86e000604b330
7,None,{'patch': {'small': 'https://images2.imgbox.co...,2012-04-30T00:00:00.000Z,1.335744e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],"Launch was scrubbed on first attempt, second l...",...,2012-05-22T07:44:00.000Z,1335944640,2012-05-22T03:44:00-04:00,hour,False,"[{'core': '5e9e289ef35918f39c3b262a', 'flight'...",True,False,None,5eb87cdfffd86e000604b331
8,None,{'patch': {'small': 'https://images2.imgbox.co...,2012-09-29T00:00:00.000Z,1.348877e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],"CRS-1 successful, but the secondary payload wa...",...,2012-10-08T00:35:00.000Z,1349656500,2012-10-08T20:35:00-04:00,hour,False,"[{'core': '5e9e289ff3591821a73b262b', 'flight'...",True,False,None,5eb87ce0ffd86e000604b332
9,None,{'patch': {'small': 'https://images2.imgbox.co...,2013-02-25T18:30:00.000Z,1.361817e+09,False,0.0,5e9d0d95eda69973a809d1ec,True,[],Last launch of the original Falcon 9 v1.0 laun...,...,2013-03-01T19:10:00.000Z,1362165000,2013-03-01T15:10:00-04:00,hour,False,"[{'core': '5e9e289ff3591884e03b262c', 'flight'...",True,False,None,5eb87ce1ffd86e000604b333

In [72]:
launch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fairings               169 non-null    object
 1   links                  205 non-null    object
 2   static_fire_date_utc   121 non-null    object
 3   static_fire_date_unix  121 non-null    float64
 4   net                    205 non-null    bool
 5   window                 117 non-null    float64
 6   rocket                 205 non-null    object
 7   success                186 non-null    object
 8   failures               205 non-null    object
 9   details                134 non-null    object
 10  crew                   205 non-null    object
 11  ships                  205 non-null    object
 12  capsules               205 non-null    object
 13  payloads               205 non-null    object
 14  launchpad              205 non-null    object
 15  flight_number          205 non-null    int64
 16  name                   205 non-null    object
 17  date_utc               205 non-null    object
 18  date_unix              205 non-null    int64
 19  date_local             205 non-null    object
 20  date_precision         205 non-null    object
 21  upcoming               205 non-null    bool
 22  cores                  205 non-null    object
 23  auto_update            205 non-null    bool
 24  tbd                    205 non-null    bool
 25  launch_library_id      72 non-null     object
 26  id                     205 non-null    object
dtypes: bool(4), float64(2), int64(2), object(19)
memory usage: 37.8+ KB

In [73]:
launch_df=launch_df[["name", "date_utc", "success", "details", "rocket"]]
launch_df.head()

,name,date_utc,success,details,rocket
0,FalconSat,2006-03-24T22:30:00.000Z,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb
1,DemoSat,2007-03-21T01:10:00.000Z,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb
2,Trailblazer,2008-08-03T03:34:00.000Z,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb
3,RatSat,2008-09-28T23:15:00.000Z,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb
4,RazakSat,2009-07-13T03:35:00.000Z,True,None,5e9d0d95eda69955f709d1eb

In [74]:
launch_df["date_utc"] = pd.to_datetime(launch_df["date_utc"])
launch_df["year"] = launch_df["date_utc"].astype(str).str.split("-").str[0]
launch_df[["date_utc", "year"]]

                     date_utc  year
0   2006-03-24 22:30:00+00:00  2006
1   2007-03-21 01:10:00+00:00  2007
2   2008-08-03 03:34:00+00:00  2008
3   2008-09-28 23:15:00+00:00  2008
4   2009-07-13 03:35:00+00:00  2009
..                        ...   ...
200 2022-12-01 00:00:00+00:00  2022
201 2022-12-01 00:00:00+00:00  2022
202 2022-12-01 00:00:00+00:00  2022
203 2022-12-01 00:00:00+00:00  2022
204 2022-12-01 00:00:00+00:00  2022

[205 rows x 2 columns]

#Step 2: Load Rocket Metadata

In [75]:
rocket_df=pd.DataFrame(requests.get("https://api.spacexdata.com/v4/rockets").json())
rocket_df.head(10)

,height,diameter,mass,first_stage,second_stage,engines,landing_legs,payload_weights,flickr_images,name,...,stages,boosters,cost_per_launch,success_rate_pct,first_flight,country,company,wikipedia,description,id
0,"{'meters': 22.25, 'feet': 73}","{'meters': 1.68, 'feet': 5.5}","{'kg': 30146, 'lb': 66460}","{'thrust_sea_level': {'kN': 420, 'lbf': 94000}...","{'thrust': {'kN': 31, 'lbf': 7000}, 'payloads'...","{'isp': {'sea_level': 267, 'vacuum': 304}, 'th...","{'number': 0, 'material': None}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...","[https://imgur.com/DaCfMsj.jpg, https://imgur....",Falcon 1,...,2,0,6700000,40,2006-03-24,Republic of the Marshall Islands,SpaceX,https://en.wikipedia.org/wiki/Falcon_1,The Falcon 1 was an expendable launch system p...,5e9d0d95eda69955f709d1eb
1,"{'meters': 70, 'feet': 229.6}","{'meters': 3.7, 'feet': 12}","{'kg': 549054, 'lb': 1207920}","{'thrust_sea_level': {'kN': 7607, 'lbf': 17100...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 4, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm1.staticflickr.com/929/2878733830...,Falcon 9,...,2,0,50000000,98,2010-06-04,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_9,Falcon 9 is a two-stage rocket designed and ma...,5e9d0d95eda69973a809d1ec
2,"{'meters': 70, 'feet': 229.6}","{'meters': 12.2, 'feet': 39.9}","{'kg': 1420788, 'lb': 3125735}","{'thrust_sea_level': {'kN': 22819, 'lbf': 5130...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 12, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm5.staticflickr.com/4599/385838292...,Falcon Heavy,...,2,2,90000000,100,2018-02-06,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_Heavy,With the ability to lift into orbit over 54 me...,5e9d0d95eda69974db09d1ed
3,"{'meters': 118, 'feet': 387}","{'meters': 9, 'feet': 30}","{'kg': 1335000, 'lb': 2943000}","{'thrust_sea_level': {'kN': 128000, 'lbf': 287...","{'thrust': {'kN': 1957, 'lbf': 440000}, 'paylo...","{'isp': {'sea_level': 330, 'vacuum': 380}, 'th...","{'number': 6, 'material': 'stainless steel'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://live.staticflickr.com/65535/489541389...,Starship,...,2,0,7000000,0,2021-12-01,United States,SpaceX,https://en.wikipedia.org/wiki/SpaceX_Starship,Starship and Super Heavy Rocket represent a fu...,5e9d0d96eda699382d09d1ee

In [76]:
rocket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   height            4 non-null      object
 1   diameter          4 non-null      object
 2   mass              4 non-null      object
 3   first_stage       4 non-null      object
 4   second_stage      4 non-null      object
 5   engines           4 non-null      object
 6   landing_legs      4 non-null      object
 7   payload_weights   4 non-null      object
 8   flickr_images     4 non-null      object
 9   name              4 non-null      object
 10  type              4 non-null      object
 11  active            4 non-null      bool
 12  stages            4 non-null      int64
 13  boosters          4 non-null      int64
 14  cost_per_launch   4 non-null      int64
 15  success_rate_pct  4 non-null      int64
 16  first_flight      4 non-null      object
 17  country           4 non-null      object
 18  company           4 non-null      object
 19  wikipedia         4 non-null      object
 20  description       4 non-null      object
 21  id                4 non-null      object
dtypes: bool(1), int64(4), object(17)
memory usage: 808.0+ bytes

Extract

In [77]:
rocket_df=rocket_df[["id", "name", "type", "active", "stages"]]
rocket_df.head()

                         id          name    type  active  stages
0  5e9d0d95eda69955f709d1eb      Falcon 1  rocket   False       2
1  5e9d0d95eda69973a809d1ec      Falcon 9  rocket    True       2
2  5e9d0d95eda69974db09d1ed  Falcon Heavy  rocket    True       2
3  5e9d0d96eda699382d09d1ee      Starship  rocket   False       2

#Step 3: Merge Launch and Rocket Data

In [78]:
launch_data=launch_df.rename(columns={'name': 'launch_name'})
rocket_data=rocket_df.rename(columns={'name': 'rocket_name'})


merged_df = pd.merge(
    launch_data,
    rocket_data,
    left_on='rocket',
    right_on='id',
    how='left'
)
merged_df.head(10)

,launch_name,date_utc,success,details,rocket,year,id,rocket_name,type,active,stages
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
5,Falcon 9 Test Flight,2010-06-04 18:45:00+00:00,True,None,5e9d0d95eda69973a809d1ec,2010,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
6,COTS 1,2010-12-08 15:43:00+00:00,True,None,5e9d0d95eda69973a809d1ec,2010,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
7,COTS 2,2012-05-22 07:44:00+00:00,True,"Launch was scrubbed on first attempt, second l...",5e9d0d95eda69973a809d1ec,2012,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
8,CRS-1,2012-10-08 00:35:00+00:00,True,"CRS-1 successful, but the secondary payload wa...",5e9d0d95eda69973a809d1ec,2012,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
9,CRS-2,2013-03-01 19:10:00+00:00,True,Last launch of the original Falcon 9 v1.0 laun...,5e9d0d95eda69973a809d1ec,2013,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2

In [79]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   launch_name  205 non-null    object
 1   date_utc     205 non-null    datetime64[ns, UTC]
 2   success      186 non-null    object
 3   details      134 non-null    object
 4   rocket       205 non-null    object
 5   year         205 non-null    object
 6   id           205 non-null    object
 7   rocket_name  205 non-null    object
 8   type         205 non-null    object
 9   active       205 non-null    bool
 10  stages       205 non-null    int64
dtypes: bool(1), datetime64[ns, UTC](1), int64(1), object(8)
memory usage: 16.3+ KB

#Step 4: Add Simulated Country Information

In [80]:
countries = ['USA', 'Russia', 'India', 'China', 'France']
merged_df['country']=np.random.choice(countries,size=len(merged_df))

merged_df.head()

,launch_name,date_utc,success,details,rocket,year,id,rocket_name,type,active,stages,country
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,China
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,Russia
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,India
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,India
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,France

#Step 5: Store Merged Data in SQLite3

In [91]:
conn=sqlite3.connect('launches.db')

In [92]:
merged_df.to_sql('launches', conn,index=False,if_exists="replace")

205

In [83]:
df_db = pd.read_sql('SELECT * FROM launches LIMIT 5', conn)
df_db

,launch_name,date_utc,success,details,rocket,year,id,rocket_name,type,active,stages,country
0,FalconSat,2006-03-24 22:30:00+00:00,0,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,0,2,China
1,DemoSat,2007-03-21 01:10:00+00:00,0,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,0,2,Russia
2,Trailblazer,2008-08-03 03:34:00+00:00,0,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,0,2,China
3,RatSat,2008-09-28 23:15:00+00:00,1,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,0,2,India
4,RazakSat,2009-07-13 03:35:00+00:00,1,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,0,2,France

#Step 6: Run SQL Queries on the Data to analyze

Launches by Country

In [84]:
cursor=conn.cursor()

In [85]:
cursor.execute("""
     SELECT country, COUNT(*) AS launches_count
    FROM launches
    GROUP BY country
    ORDER BY launches_count DESC;
    """
)

In [86]:
cursor.fetchall()

[('China', 50), ('USA', 43), ('France', 41), ('Russia', 36), ('India', 35)]

Which year had the highest number of launches?

In [87]:
cursor.execute("""
    SELECT year, COUNT(*) AS launches_count
    FROM launches
    GROUP BY year
    ORDER BY launches_count DESC
    LIMIT 1;
""")

In [ ]:
cursor.fetchone()

Top 5 Missions by Launch Count

In [88]:
cursor.execute("""
    SELECT launch_name, COUNT(*) AS launch_count
    FROM launches
    GROUP BY launch_name
    ORDER BY launch_count DESC
    LIMIT 5;
""")

In [ ]:
cursor.fetchall()

Top 3 by rocket count

In [89]:
cursor.execute("""
    SELECT rocket_name, COUNT(*) AS launch_count
    FROM launches
    GROUP BY rocket_name
    ORDER BY launch_count DESC
    LIMIT 5;
""")

In [90]:
cursor.fetchall()

[('Falcon 9', 195), ('Falcon Heavy', 5), ('Falcon 1', 5)]