<a href="https://colab.research.google.com/github/Akshayus29/Assignments/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
create table if not exists books(
bookID integer primary key,
title text not null,
author text,
genre text,
published year integer)
''')

In [ ]:
cursor.execute('delete from books')
conn.commit()

In [ ]:
cursor.execute('''insert into
books values(1,'Harry potter and the philosophers stone', 'J K Rowling','fiction',2001)''')

In [ ]:
conn.commit()

In [ ]:
books = [
(2,'Indulekha','O. Chandu Menon','Early Malayalam fiction',1889),
(3,'Kayar','Thakazhi Sivasankara Pillai','Historical fiction',1978),
(4,'The Alchemist','Paulo Coelho','fiction',1988),
(5,'Balyakalasakhi','Vaikom Muhammad Basheer','romantic tragedy',1944)]

In [ ]:
cursor.executemany('insert into books values(?,?,?,?,?)',books)

In [ ]:
conn.commit()

In [ ]:
cursor.execute('select * from books')
rows = cursor.fetchall()

In [ ]:
for row in rows:
  print(row)

(1, 'Harry potter and the philosophers stone', 'J K Rowling', 'fiction', 2001)
(2, 'Indulekha', 'O. Chandu Menon', 'Early Malayalam fiction', 1889)
(3, 'Kayar', 'Thakazhi Sivasankara Pillai', 'Historical fiction', 1978)
(4, 'The Alchemist', 'Paulo Coelho', 'fiction', 1988)
(5, 'Balyakalasakhi', 'Vaikom Muhammad Basheer', 'romantic tragedy', 1944)

In [ ]:
cursor.execute('''
create table if not exists members(
member_id int primary key,
firstname text,
lastname text,
phonenumber int,
email text,
membershipdate date
)''')

In [ ]:
members = [
(1, 'John', 'Doe', 5551230011, 'john.doe@example.com', '2024-01-15'),
(2, 'Emma', 'Smith', 5551230012, 'emma.smith@example.com', '2024-02-10'),
(3, 'Liam', 'Johnson', 5551230013, 'liam.johnson@example.com', '2024-03-05'),
(4, 'Olivia', 'Brown', 5551230014, 'olivia.brown@example.com', '2024-04-01'),
(5, 'Noah', 'Davis', 5551230015, 'noah.davis@example.com', '2024-05-12')]

In [ ]:
cursor.executemany('insert into members values(?,?,?,?,?,?)',members)

In [ ]:
conn.commit()

In [ ]:
cursor.execute('select * from members')
rows = cursor.fetchall()

In [ ]:
for row in rows:
  print(row)

(1, 'John', 'Doe', 5551230011, 'john.doe@example.com', '2024-01-15')
(2, 'Emma', 'Smith', 5551230012, 'emma.smith@example.com', '2024-02-10')
(3, 'Liam', 'Johnson', 5551230013, 'liam.johnson@example.com', '2024-03-05')
(4, 'Olivia', 'Brown', 5551230014, 'olivia.brown@example.com', '2024-04-01')
(5, 'Noah', 'Davis', 5551230015, 'noah.davis@example.com', '2024-05-12')